*.class

# Package Files #
*.jar
*.war
*.ear

# IntelliJ Files #
*.iml
.idea/

# Backup Files #
*~

# Include library files #
!lib/*.jar

# Config file containing username and password #
credentials.conf
